.container{
	display: flex;
	flex-direction: column;
}

.player {
	display: flex;
	justify-content: center;
	background-color: #000000;
}

.movie {
	width: 100%;
	height: 440rpx;
}

/* 影片基本信息 start */
.movie-info {
	padding: 40upx 20upx;
	display: flex;
	flex-direction: row;
	background-color: #f7f4f9;
}

.movie-desc {
	display: flex;
	flex-direction: column;
	margin-left: 30upx;
	width: 400upx;
}

.cover {
	width: 280upx;
	height: 380upx;
}

.title {
	font-size: 38rpx;
}

.basic-info {
	color: darkgray;
	font-size: 13px;
	line-height: 36upx;
	margin-top: 10rpx;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* 评分块 start */
.score-block {
	background-color: white;
	margin-top: 10upx;
	width: 360upx;
	height: 80upx;
	padding: 20upx;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	/* 追加阴影效果 */
	box-shadow: 3px 2px 10px #dedede;
}

.score-words {
	font-size: 12px;
	color: grey;
}

.movie-score {
	font-size: 18px;
	font-weight: bold;
	margin-left: 8upx;
	color: #FEAB2A;
	line-height: 60upx;
}

.prise-counts {
	font-size: 12px;
	color: grey;
	line-height: 44upx;
}

.plots-block {
	background-color: #f7f4f9;
	padding: 20upx 40upx;
}

.plots-title {
	color: #A9A9A9;
	font-size: 14px;
}

.plots-desc {
	margin-top: 10upx;
	font-size: 16px;
}

/* 剧照 start */
.scroll-block {
	background-color: #f7f4f9;
	padding: 20upx 40upx;
	/* display: flex;
	flex-direction: column; */
}

.scroll-list {
	width: 100%;
	white-space: nowrap;
	margin-top: 20upx;
}

.actor-wapper {
	display: inline-block;
}

.single-actor {
	width: 170upx;
	height: 240upx;
	margin-right: 10upx;
}

.actor-name {
	width: 170upx;
	text-align: center;
	font-size: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.actor-role {
	width: 170upx;
	text-align: center;
	font-size: 13px;
	color: #A9A9A9;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.plot-image {
	width: 220upx;
	height: 320upx;
	margin-right: 10upx;
}

.score-block-stars{
	display: flex;
	flex-direction: row;
}





